.header {
	background-color: #8eb5f0;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 90vw;
	margin: 30px;
	padding: 13px;
	border-radius: 10px;
	
	.item {
		background-color: #858ae3;
		color: #fff;
		font-size: 10px;
		padding: 6px;
		font-weight: bold;
		border-radius: 10px;
		cursor: pointer;
	}
	
	.signout {
		font-size: 12px;
		padding: 6px;
		border-radius: 10px;
	}

	@media (max-width: 380px) {
		.item, .signout {
			font-size: 6px;
			padding: 2px 4px;
	
		}
	}
}
