.admin {
	form {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: auto;
		font-size: 20px;
		color: #fff;
		select {
			height: 30px;
			border-radius: 3px;
			font-size: 15px;
			&:focus, &:active {
				outline: none;
			}
		}
		input {
			height: 30px;
			margin: 10px;
			&:active, &:focus {
				outline: none;
			}
		}
	}
	
}