
.tasks {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: #fff;
    
    h5 {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    margin-left: 5px;
    }
   
    button {
        background-color: #fff;
        padding: 5px 10px;
        border: none;
        margin: 0;
        border-radius: 0;
        border-top: 1px solid #9fa0ff;
        cursor: pointer;
        width: 100%;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: all 0.4s ease;
        &:hover {
            font-size: 17px;
            background-color: #bbadff;
            border-color: #bbadff;
            transition: all 0.2s ease;
        }
        &:active, &:focus {
            outline: none;
        }
    }
}