.login h3{
    color: #2c0735;
    text-align: center; 
}

.login input {
    font-size: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.login input:focus, input:active {
    outline: none;
}

.login span {
    cursor: pointer;
    text-decoration: underline;
}