.button {
    background-color: #fff;
    border: 2px solid #9fa0ff;
    color: #613dc1;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 10px;
    &:hover {
        background-color: #613dc1;
        color: #fff;
        transition: all 0.3s ease;
    }
    &:active, &:focus {
        outline: none;
    }
}